@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #106900;
    color: whitesmoke;
    padding: 1rem;
    font-family: 'Lato', sans-serif;
}

#homme-page {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    height: 100vh;

}

.case {

    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 160px;
    width: 160px;
    border: 1px solid black;
}



#yellow {
    background: #E0D42B ;
}

#green {
    background: #0B2E13;
}

#blue {
    background: #16193D;
}

#brown {
    background: #69471E;
}


.fa-trash {
    font-size: 15rem;

}

#poub1 {
    color:#0B2E13 ;

}

#poub2 {
    color:#E0D42B ;

}

#poub3 {
    color:#16193D ;
}

#poub4 {
    color:#69471E ;
}

.base {
    justify-content: center;
    width: 150px;
    height: 150px;
    cursor: grab;
    background-position: center;
}

.tenu {
    border: solid 5px #ccc ;
}


.container-container-base {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    border: 2px solid black;
    height: 200px;

}
.container-base {
    margin-left: auto;
    margin-right: auto;
}

#sous-items {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

#dechetRandom
{
    width: 40%;
    background: #0ba32f;
    border-radius: 12px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

#dechetRandom:hover {
    background: #46c246;
}
